{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}index{% endblock %}

{% block content %}

    {% if products|length == 0 %}
    
    <h6>Your Cart Is Empty!</h6>

    {% else %}
    
    <div class="order-overview column-8">
        <h6>Cart</h6>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>${{ product.price | number_format(2) }}</td>
                        <td>1</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path_for('checkout.clear') }}" class="clear"><small>Clear Cart</small></a>
    </div>
    
    <div class="order-subtotal column-4">
        <h6>Order Summary</h6>
        <hr>
        <table>
            <tr>
                <td>Subtotal: </td>
                <td>${{ basket.subTotal | number_format(2) }}</td>
            </tr>
            <tr>
                <td><strong>Total: </strong></td>
                <td>${{ basket.subTotal | number_format(2) }}</td>
            </tr>
        </table>
        <a href="{{ path_for('checkout') }}" class="button">Checkout</a>
    </div>

    {% endif %}

{% endblock %}
