<ul class="product-details">
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.five }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.six }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.seven }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.eight }}</li>
</ul>

<!-- End Details -->

<div class="media-object">
    <div class="media-object-image">
        <img src="/assets/img/web-ex.svg" draggable="false">
    </div>
    <div class="media-object-content">
        <p><strong>This is a Simple Single Page Website, perfect for small businesses, landing pages and personal use.</strong> <br>If you need a multi-page site, custom web applications, or e-commerce please contact us so we can talk about a solution that better suits your needs.</p>
        <p>If you have any questions or want us to walk you through this form just let us know. We’d be happy to help.</p>
        <footer>
            <ul>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <g class="nc-icon-wrapper" fill="#444444">
        <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path>
    </g>
</svg>1.519.915.5884</li>
                <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g class="nc-icon-wrapper" fill="#444444">
        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"></path>
    </g>
</svg>hi@darkroast.co</li>
            </ul>
        </footer>
    </div>
</div>

<h4><strong>Step 1</strong> - Setup</h4>
<hr>

<div class="field is-inline is-flexed">
    What will the site be used for? 
    <label><input type="checkbox" name="use-case[]" value="Business"> Business</label>
    <label><input type="checkbox" name="use-case[]" value="Landing Page"> Landing Page</label>
    <label><input type="checkbox" name="use-case[]" value="Personal"> Personal</label>
    <label><input type="checkbox" name="use-case[]" value="Other"> Other</label>
</div>

<div class="field is-inline is-flexed">
    Do you already have a domain name? 
    <label><input type="radio" name="has-domain" value="yes"> Yes</label>
    <label><input type="radio" name="has-domain" value="no"> No</label>
</div>

<div class="field">
    <label for="domain-name">What is your domain name? <small>(or the one you'd like.)</small></label>
    <input type="text" name="domain-name">
</div>

<div class="field">
    <label for="custom-email">Will you need custom email addresses?<strong> (+$139)</strong></label>
    <select name="custom-email">
        <option value="no" selected disabled>No</option>
        <option value="1" >1</option>
        <option value="2" >2</option>
        <option value="3" >3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
    </select>
</div>

<!-- End Step One -->

<h4><strong>Step 2</strong> - Layout</h4>
<hr>
<p><strong>You can select up to 5 of the following content sections.</strong></p>
<p>Navigation Menu, Header and Footer are included.</p>

<div class="field is-columns is-inline">
    {% include 'Product/partials/web/layout.twig' %}
</div>

<!-- End Step Two -->

<h4><strong>Step 3</strong> - Features</h4>
<hr>

<p><strong>Would you like any additional tools or features?</strong></p>
<p>Social Media integration included and SiteLock Secure 24/7 Monitoring Included.</p>

<div class="field">
    <label 
        class="popover" 
        data-popover="We’ll create and place your Google Analytics Tracking ID as well as create a custom traffic report that best suits your websites users."
    >
        <input type="checkbox" name="option[0]google-analytics"> Google Analytics Setup <strong>$+49</strong>
        <i></i>
    </label>

    <label>
        <input type="checkbox" name="option[1]ssl-certificate"> 1 Year SSL Certificate <strong>$+139</strong>
        <i 
            class="popover" 
            data-popover="An SSL (Secure Sockets Layer) certificate is a digital certificate that authenticates the identity of a website and encrypts information. Websites that use and SSL Certificate are viewed as more credible and safe by other users and Search Engines."
        ></i>
    </label>

    <label >
        <input type="checkbox" name="option[2]seo-booster"> SEO Booster <strong>$+299</strong>
        <i
            class="popover" 
            data-popover="Our own unique blend of directory building, back linking, Advanced On Page SEO techniques and a few other tricks; This package will give any new website a great foundation and a much needed boost when starting to compete for Search Engine Ranking."
        ></i>
    </label>

    <label >
        <input type="checkbox" name="option[3]google-my-business"> Google My Business Setup <strong>$+49</strong>
        <i
            class="popover" 
            data-popover="If you haven’t already done so, we’ll set, verify and optimize your Google My Business Account. We’ll make sure your customers know where to find you and be able to access your website as well as keeping the overall look your account consistent with your brand."
        ></i>
    </label>

    <label>
        <input type="checkbox" name="option[4]email-subscription"> Email Subscription Manager <strong>$+199</strong>
        <i
            class="popover" 
            data-popover="Our Email Subscription Manager will allow you to capture, manage and export your email subscribers. This is helpful for anyone who wants to help build and grow their email list."
        ></i>
    </label>

    <label >
        <input type="checkbox" name="option[5]ecommerce"> Ecommerce - Single Product <strong>$+499</strong>
        <i
            class="popover" 
            data-popover="We’ll set up a turn key ecommerce platform for a single product. Including: payment processing, order management, notifications and more. Great for landing Pages, Subscription Companies, Service Based Business or a company that sells only 1 product. "
        ></i>
    </label>

    <label>
        <input type="checkbox" name="option[6]content-management-1"> Content Managment - 1 Section <strong>$+499</strong>
        <i
            class="popover" 
            data-popover="A Content Management System will allow you to make changes to the content on your website. i.e Photos, Events, News etc. This package involves creative a custom CMS for a single section of your website. This includes:  A Secure Login Page and an easy to use Content Management Tool"
        ></i>
    </label>

    <label>
        <input type="checkbox" name="option[7]content-management-2"> Content Management - 2 Sections <strong>$+659</strong>
        <i
            class="popover" 
            data-popover="A Content Management System will allow you to make changes to the content on your website. i.e Photos, Events, News etc. This package involves creative a custom CMS for 2 different sections of your website. This includes:  A Secure Login Page and an easy to use Content Management Tool"
        ></i>
    </label>

    <label>
        <input type="checkbox" name="option[8]content-management-3"> Content Management - 3 Sections <strong>$+759</strong>
        <i
            class="popover" 
            data-popover="A Content Management System will allow you to make changes to the content on your website. i.e Photos, Events, News etc. This package involves creative a custom CMS for 3 different sections of your website. This includes:  A Secure Login Page and an easy to use Content Management Tool"
        ></i>
    </label>

    <label>
        <input type="checkbox" name="option[9]copy-writing"> Copy Writing - up to 500 words <strong>$+229</strong>
        <i
            class="popover" 
            data-popover="We’ll write the content for your website up to 500 words, which is roughly the average amount for a small website. This is ideal for anyone looking for landing pages, sales funnels, or just anyone who needs a little help with creative writing."
        ></i>
    </label>

</div>

<h4><strong>Step 4</strong> - Design</h4>
<hr>
