{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}{{ product.name }}{% endblock %}

{% block ogTitle %}Darkroast Digital Express | {{ product.name }}{% endblock %}
{% block ogDescription %}Welcome to your new marketing toolbox. DarkRoast Digital Express is our new online ordering system designed to help you get the marketing material you need to run your business - faster, easier and more affordable than ever before. {% endblock %}
{% block ogUrl %}https://express.darkroast.co/{{ product.slug }}{% endblock %}
{% block ogImage %}../assets/img/og/{{ product.slug }}.jpg{% endblock %}

{% block content %}

<div class="lightbox">
    <div class="lightbox-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
            <g class="nc-icon-wrapper" fill="#FFFFFF">
                <path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"></path>
            </g>
        </svg>
    </div>
    <img src="" draggable="false">
</div>

{% if product.has_examples %}
    <div class="page-images column-1">
        <p>Examples</p>
        
        {% for image in product.images %}
            <img src="{{ image.path }}" draggable="false" {% if image.data == 'none' %}{% else %}data-src="{{ image.data }}" class="lightbox-trigger"{% endif %}>
        {% endfor %}
    </div>
{% endif %}

<div class="page-details column-11">
    
    <h3>{{ product.name }} ${{ product.display_price }}</h3>
    <p>In {{ product.time }} {{ product.length }}</p>

    <!-- End Title -->

    <form action="{{ path_for('product', {slug: product.slug}) }}" method="post" enctype="multipart/form-data">

        <input type="text" name="product" value="{{ product.name }}" hidden>
        
        {% embed 'Product/partials/' ~ product.category ~ '/main.twig' %}
            {% block description %}{% endblock %}
             {% block details %}{% endblock %}
        {% endembed %}
        
        <button type="submit">Send</button>
    </form>

</div>

{% endblock %}
