{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="lightbox">
    <img src="" draggable="false">
</div>

{% if product.has_examples %}
    <div class="page-images column-1">
        <p>Examples</p>
        
        {% for image in product.images %}
            <img src="{{ image.path }}" draggable="false" {% if image.data == 'none' %}{% else %}data-src="{{ image.data }}" class="lightbox-trigger"{% endif %}>
        {% endfor %}
    </div>
{% endif %}

<div class="page-details column-11">
    
    <h3>{{ product.name }} ${{ product.display_price }}</h3>
    <p>In {{ product.time }} {{ product.length }}</p>

    <!-- End Title -->

    <form action="{{ path_for('product', {slug: product.slug}) }}" method="post" enctype="multipart/form-data">

        <input type="text" name="product" value="{{ product.name }}" hidden>
        
        {% embed 'Product/partials/' ~ product.category ~ '/main.twig' %}
            {% block description %}{% endblock %}
            {% block details %}{% endblock %}
        {% endembed %}
        
        <button type="submit">Send</button>
    </form>

</div>

{% endblock %}
