<ul class="product-details">
    <li><img src="/assets/img/product-details/sides.svg" draggable="false"> {{ product.details.one }}</li>
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.five }}</li>
</ul>

<!-- End Details -->

<div class="field radio design-orientation is-line">
    <label>Number of Folds</label>
    <div>
        <div>
            <img src="/assets/img/products/design/folds/bi.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="portrait"><span class="radio-button"></span></label>
            Bi-Fold
        </div>
        <div>
            <img src="/assets/img/products/design/folds/tri.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="landscape"><span class="radio-button"></span></label>
            Tri-Fold
        </div>
        <div>
            <img src="/assets/img/products/design/folds/quad.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="landscape"><span class="radio-button"></span></label>
            Quad-Fold
        </div>
    </div>
</div>
