<ul class="product-details">
    <li><img src="/assets/img/product-details/sides.svg" draggable="false"> {{ product.details.one }}</li>
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.five }}</li>
</ul>

<!-- End Details -->

<div class="field radio design-orientation is-line">
    <label>Orientation</label>
    <div>
        <div>
            <img src="/assets/img/products/design/orientation/portrait.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="portrait"><span class="radio-button"></span></label>
            Portrait
        </div>
        <div>
            <img src="/assets/img/products/design/orientation/landscape.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="landscape"><span class="radio-button"></span></label>
            Landscape
        </div>
    </div>
</div>

<div class="field radio design-orientation is-line">
    <label>Corners</label>
    <div>
        <div>
            <img src="/assets/img/products/design/orientation/straight.svg" draggable="false">
            <label class="radio"><input type="radio" name="corners" value="straight"><span class="radio-button"></span></label>
            Straight
        </div>
        <div>
            <img src="/assets/img/products/design/orientation/rounded.svg" draggable="false">
            <label class="radio"><input type="radio" name="corners" value="rounded"><span class="radio-button"></span></label>
            Rounded
        </div>
    </div>
</div>
