<ul class="product-details">
    <li>{{ product.details.one }}</li>
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.five }}</li>
</ul>

<!-- End Details -->

<div class="field design-size">
    <label>What size do you need? <small>(feet)</small></label>
    <select name="size">
        <option value="8.5x11" selected>8.5" x 11"</option>
        <option value="11x17">11" x 17"</option>
        <option value="12x18">12" x 18"</option>
        <option value="Other">Other (Specify in instructions)</option>
        <option value="Does not know">I don't know</option>
    </select>
</div>

<div class="field radio design-orientation is-inline">
    <label>Orientation</label>
    <div>
        <div>
            <img src="/assets/img/products/design/orientation/portrait.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="portrait"><span class="radio-button"></span></label>
            Portrait
        </div>
        <div>
            <img src="/assets/img/products/design/orientation/landscape.svg" draggable="false">
            <label class="radio"><input type="radio" name="orientation" value="landscape"><span class="radio-button"></span></label>
            Landscape
        </div>
    </div>
</div>
