<ul class="product-details">
    <li><img src="/assets/img/product-details/sides.svg" draggable="false"> {{ product.details.one }}</li>
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/stock.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.five }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.six }}</li>
</ul>

<div class="field print-detail is-inline">
    <label>Additional Options</label>
    <input type="checkbox" name="option[0]add-cover-letter" value="add-cover-letter" style="margin-right: 0rem;"> <span style="margin-right: 1rem;">Add Cover Letter <strong>+$39</strong></span>
    <input type="checkbox" name="option[1]add-copy-editing" value="add-copy-editing" style="margin-right: 0rem;"> <span style="margin-right: 1rem;">Add Copy Editing <strong>+$39</strong></span>
    <input type="checkbox" name="option[2]add-additional-page" value="add-additional-page" style="margin-right: 0rem;"> <span style="margin-right: 1rem;">Add Additional Page <strong>+$39</strong></span>
</div>

<div class="field">
    <label for="job-title">Job or Position Title</label>
    <input type="text" name="job-title">            
</div>

