{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}{% endblock %}

{% block ogTitle %}Darkroast Digital Express{% endblock %}
{% block ogDescription %}Welcome to your new marketing toolbox. DarkRoast Digital Express is our new online ordering system designed to help you the marketing material you need to run your business - faster, easier and more affordable than ever before. {% endblock %}
{% block ogUrl %}https://express.darkroast.co/{% endblock %}
{% block ogImage %}../assets/img/og/og.jpg{% endblock %}

{% block content %}

{% for product in products %}
    <a href="{{ path_for('product', { slug: product.slug } ) }}" class="product-card column-4">
        <div class="card">
            <div class="card-image">
                <img src="{{ product.image }}" draggable="false">
            </div>
            <section class="card-body">
                <div class="card-title">
                    <h6>{{ product.name }}</h6>
                    <p><small>In {{ product.time }} {{ product.length }}</small></p>
                </div>
                <p>${{ product.display_price }}</p>
            </section>
        </div>
    </a>
{% endfor %}

{% endblock %}
