<h4>Order #{{ order.id }}</h4>
<h6>Placed by {{ details.first_name }} {{ details.last_name }}</h6>

<p><strong>Customer Details</strong></p>
<hr>
<ul>
    <li><strong>First Name: </strong>{{ details.first_name }}</li>
    <li><strong>Last Name: </strong>{{ details.last_name }}</li>
    <li><strong>Email: </strong>{{ details.email }}</li>
    <li><strong>Phone Number: </strong>{{ details.phone }}</li>
    <li><strong>Address: </strong>{{ details.address }}</li>
    <li><strong>City: </strong>{{ details.city }}</li>
    <li><strong>Province: </strong>{{ details.province }}</li>
    <li><strong>Postal Code: </strong>{{ details.postal }}</li>
    <li><strong>Additional Instructions: </strong>{{ details.instructions }}</li>
</ul>

<p><strong>Order Details</strong></p>
<hr>
{{ choices | raw }}
